* {
  color: #5a6373;
}

.main {
  margin: 5rem 19rem;
}

.payment {
  display: ruby;
}

.payment h1 {
  font-size: 3rem;
  font-weight: 700;
}

.payment h3 {
  font-weight: 600;
}

.payment-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle p {
  font-weight: 700;
  color: #d1d0d6;
}

.details {
  line-height: 0.5;
}

.details p {
  text-decoration: underline;
  font-weight: 700;
}

.details p span {
  color: #48783b;
}

.text {
  margin-top: 6rem;
}